<nav class="bg-white shadow-md px-6 py-4 flex items-center gap-12 ">
  <!-- 🏷 Logo -->
  <a
    routerLink="/"
    class="text-x1 font-bold text-green-600 hover:text-green-700">
    Home
  </a>

  <!-- 🔗 Links -->
  <div class="flex items-center gap-200">

    <a
      routerLink="/cart"
      class="relative text-gray-700 hover:text-green-600 font-medium">>
      🛒 Carrinho
      <span
        *ngIf="cartCount$ | async as crtCount"
        class="absolute -top-2 -right-3 bg-red-500 text-white text-xs w-5 h-5 flex items-center justify-center rounded-full">
        {{ crtCount }}
      </span>
    </a>

    <a
      routerLink="/meus-pedidos"
      class="text-gray-700 hover:text-green-600 font-medium">
      Meus pedidos
    </a>

    <!-- 👤 Usuário logado -->
    <ng-container *ngIf="isLoggedIn$ | async; else loggedOut">

      <span class="text-sm text-gray-600">
        Olá, <strong>{{ userName$ | async }}</strong>
      </span>

      <!-- 🔐 Admin -->
      <a
        *ngIf="isAdmin()"
        routerLink="/admin/products"
        class="text-sm text-blue-600 hover:underline">
        Admin
      </a>

      <button
        (click)="logout()"
        class="bg-red-500 hover:bg-red-600 text-white px-3 py-1 rounded-lg text-sm">
        Sair
      </button>

    </ng-container>

    <!-- 🚪 Não logado -->
    <ng-template #loggedOut>
      <a
        routerLink="/login"
        class="bg-green-600 hover:bg-green-700 text-white px-4 py-2 rounded-lg text-sm">
        Entrar
      </a>
    </ng-template>

  </div>
</nav>
<app-home-banner></app-home-banner>